<!DOCTYPE html>
<html>

<head>
    <title>Blog | Brianday.dev</title>
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    {{> head }}
</head>

<body>

    {{> topnav }}

    <div class="row">
        <div class="column" id="main-content-column">

            {{#each docs }}

            <div class="article-block">
                <div class="article-header">
                    <span class="title">{{ this.title }}</span>
                    <span class="date">{{ moment this.createdAt "DD MMM YYYY"}}</span>
                </div>
                <p>{{{ this.text }}}</p>
            </div>

            {{/each}}

            <div class="blog-nav">
                <button onclick="prevPage()" {{#unless hasPrevPage }}disabled{{/unless}}>Previous</button>
                <p>{{ page }} / {{ totalPages }}</p>
                <button onclick="nextPage()" {{#unless hasNextPage }}disabled{{/unless}}>Next</button>
            </div>
        </div>
    </div>

</body>
<script src="/js/blog.js"></script>

</html>